<html>
    <body>
        <h1>Hola <%= username %>!</h1>
        <span><%= 2+2%></span>
        <% if (usuario.logueado) { %>
            <p>Bienvenido, <%= usuario.nombre %>!</p>
            <% } else { %>
            <a href='/login'>Iniciar sesión</a>
        <% } %>
    </body>
</html>